/*
    Theme Name: YOOtheme Child
    Template: yootheme
    Author: Ladislav Šulc
    Description: YOOtheme Child Theme
    Version: 1.0.0
    Text Domain:  yootheme-child
*/

/* ==========================================================================
   Gravity Forms
   ========================================================================== */

.gform_wrapper {
    background: #fff;
    padding: 30px;
    box-shadow: 0 15px 30px #00000012;
}

/* Overrides */

@media only screen and (min-width: 641px) {
    .gform_wrapper ul.gform_fields li.gfield {
        padding-right: 0;
    }
}

body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}

body .gform_wrapper ul li.gfield {
    margin-top: 0;
    margin-bottom: 1em;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
    margin: 1px 0 0 1px;
}

.gform_wrapper label.gfield_label,
.gform_wrapper legend.gfield_label {
    font-weight: 400;
    color: #555;
}

.gform_wrapper input,
.gform_wrapper select,
.gform_wrapper textarea {
    border: none;
    border: 1px solid #ccc;
    outline: none !important;
}

.gform_wrapper input:focus,
.gform_wrapper select:focus,
.gform_wrapper textarea:focus {
    border: 1px solid #111 !important;
}

.gform_wrapper input[type="checkbox"] {
    padding: 0;
    border: 1px solid #111;
    margin-left: 0;
}

.gform_wrapper label {
    cursor: pointer;
}

.gform_wrapper .field_description_below .gfield_consent_description,
.gform_wrapper .gfield_consent_description {
    width: 100%;
    max-height: auto;
    overflow: hidden;
    border: none;
    margin-top: 0;
    padding: 0;
    font-size: 0.875rem;
}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
    background-color: #caaa89;
    color: #000;
    border: 2px solid transparent;
    background-image: linear-gradient(90deg, #c29d77 50%, #caaa89 50%);
    padding: 0 35px;
    vertical-align: middle;
    font-size: 17px;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    transition: .3s ease-in-out;
    transition-property: color, background-color, background-position, border-color, box-shadow;
    background-size: 200%;
    background-position-x: 100%;
    font-family: 'Work Sans';
    letter-spacing: -.5px;
    cursor: pointer;
}

.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover {
    background-color: #caaa89;
    color: rgba(0, 0, 0, .7);
    border-color: transparent;
    background-image: none;
    text-decoration: none;
    background-position-x: 0;
    background-image: linear-gradient(90deg, #c29d77 50%, #caaa89 50%);
}

@media only screen and (min-width: 641px) {

    .gform_wrapper .ginput_complex .ginput_left,
    .gform_wrapper .ginput_complex .ginput_right {
        width: 100%;
    }

    .gform_wrapper .ginput_complex .ginput_left,
    .gform_wrapper .top_label li.gfield.gf_right_half {
        padding-right: 0;
    }
}

/**
 * Multi-page form
 */

#gform_page_2_1 #input_2_5 {
    padding: 9px 15px 9px !important;
}

#gform_next_button_2_6 {
    position: relative;
    left: -1px;
    top: 0;
}

.gform_page_fields {
    flex: 1 1 1000%;
}

@media only screen and (min-width: 641px) {

    .gform_wrapper .gform_page_footer .button.gform_button,
    .gform_wrapper .gform_page_footer .button.gform_next_button {
        margin-right: 0;
    }

}

@media only screen and (max-width: 640px) {

    #gform_next_button_2_6 {
        left: -8px;
        top: 7px;
    }

    #gform_next_button_2_6 {
        left: -8px;
        top: 7px;
    }
}

#gform_wrapper_2 ul li.gfield {
    margin-bottom: 0;
}

#gform_wrapper_2 {
    padding: 4px;
}

#gform_wrapper_2 input {
    border: 1px solid #fff !important;
}

.gform_previous_button {
    background: #f1f1f1 !important;
    margin-right: 0 !important;
    position: relative;
    right: -7px;
}

#gform_submit_button_2 {
    position: relative;
    right: -7px;
    padding: 0 39px 0 39px;
}

@media only screen and (max-width: 641px) {
    .gform_wrapper .button {
        line-height: 46px !important;
    }

}

#field_2_4 {
    margin-top: 1em;
}

.gform_wrapper li.hidden_label input {
    margin-top: 0;
}

.gform_page {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 640px) {

    .gform_page {
        align-items: baseline;
    }
}

.gform_wrapper .gform_page_footer {
    margin: 0;
    width: 100%;
    border-top: none;
    padding: 0;
    clear: none;
}

.gfield_consent_label {
    font-size: 0.875rem;
}

#gform_page_2_2 {
    padding: 10px 16px;
}

.gform_confirmation_wrapper {
    text-align: center;
    padding: 30px;
    border: 1px solid #caaa89;
}

.gform_confirmation_message {
    color: #3c3c3c;
}

/* ==========================================================================
   Woocommerce
   ========================================================================== */

.screen-reader-text {
    visibility: hidden;
    position: absolute;
    text-indent: -9999px;
}

#tab-description p {
    max-width: 670px;
}

/*
   Woo Sidecart
   ========================================================================== */

.xoo-wsc-basket {
    right: 15px !important;
}

.xoo-wsc-content {
    font-size: 16px !important;
}

.xoo-wsc-content a:not(.xoo-wsc-remove) {
    font-size: 18px !important;
    font-weight: bold;
}

xoo-wsc-icon-checkmark.xoo-wsc-icon-atc,
.woocommerce #respond input#submit.added:after,
.woocommerce a.button.added:after,
.woocommerce button.button.added:after,
.woocommerce input.button.added:after,
.woocommerce-page #respond input#submit.added:after,
.woocommerce-page a.button.added:after,
.woocommerce-page button.button.added:after,
.woocommerce-page input.button.added:after {
    display: none !important;
}

.added_to_cart.wc-forward {
    margin-left: 1em;
}

.xoo-wsc-footer a.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px 25px;
    margin: 8px 0;
}

.woocommerce .col2-set {
    width: 45%;
    float: left;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    float: none;
    width: 100%;
}

.woocommerce-checkout-review-order,
#order_review_heading {
    float: right;
    width: 45%;
}

#order_review_heading {
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    .woocommerce .col2-set {
        width: 100%;
        float: none;
    }

    .woocommerce-checkout-review-order,
    #order_review_heading {
        float: none;
        width: 100%;
    }
}

/* ==========================================================================
   Category Images and Grid
   ========================================================================== */

.pciwgas-post-cat-inner,
.pciwgas-img-wrapper {
    position: relative;
}

.pciwgas-cat-wrap .pciwgas-title {
    position: absolute;
    bottom: 10px;
    left: 20px;
    padding: 0;
}

.pciwgas-cat-wrap .pciwgas-title a {
    color: #fff;
}

.pciwgas-img-wrapper a {
    display: block;
    position: relative;
}

.pciwgas-img-wrapper a:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 60px;
    background: linear-gradient(360deg, #00000080 0%, rgba(0, 0, 0, 0) 100%);
}

.pciwgas-cat-img {
    width: 100%;
    object-fit: cover;
}

.pciwgas-cat-wrap .pciwgas-cat-count {
    display: none;
}

@media only screen and (min-width: 40.0625em) {
    .pciwgas-medium-3 {
        width: 20%;
    }
}

@media only screen and (max-width: 40.0624em) {
    .pciwgas-medium-3 {
        width: 50%;
    }

    .pciwgas-cat-wrap .pciwgas-post-cat-inner {
        margin-bottom: 15px;
    }
}

.pciwgas-first {
    clear: none;
}

/* ==========================================================================
   Archive
   ========================================================================== */

.archive .uk-margin-top.uk-h3 {
    margin-top: 0 !important;
    padding: 30px;
    background: #faf6f3;
}

/* ==========================================================================
   Content Element (Posts)
   ========================================================================== */

.content-element .uk-card-body p.uk-margin-small-top {
    color: ##7d7670;
    line-height: 150%;
}